*.sw*
*.bak
*_bak.py

.cache/
.egg-info
__pycache__/
build/
dist/

image.png
smplpytorch/native/models/*.pkl
/.ipynb_checkpoints
/pic
data.npz
smpl2bvh/data/smpl_data.pkl
smpl2bvh/data/smpl_data.pkl
bvh_gen.ipynb
